body {
  background-image: url(./backgroundimg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e0e8ff;
}

.main_container {
  height: 697px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
  width: 450px;
  position: relative;
}

#main_img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}

.bottom_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order_summary {
  width: 354px;
  margin-top: 45px;
  position: relative;
}

#order {
  color: #1f2e55;
  text-align: center;
  font-family: Red Hat Display, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
#text {
  color: #717fa6;
  text-align: center;
  font-family: Red Hat Display, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  width: 354px;
  margin-top: 17px;
}
.annual_plan {
  width: 354px;
  height: 98px;
  flex-shrink: 0;
  border-radius: 11px;
  background: #f7f9ff;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-bottom: 32px;
}

.music {
  margin-right: 60px;
}
#plan {
  color: #1f2e55;
  font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
#price {
  color: #717fa6;
  font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#change {
  color: #382ae1;
  font-family: Red Hat Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
.payment_cancelOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#payment {
  width: 354px;
  height: 50px;
  background: #382ae1;
  border-radius: 11px;
  color: #fff;
  font-family: Red Hat Display;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
}
#cancel {
  color: #717fa6;
  font-family: Red Hat Display;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 35px;
  background-color: #fff;
}

@media screen and (max-width: 600px) {


  .main_container {
    width: 90%;
    height: auto;
  }
  #order {
    color: #1f2e55;
    text-align: center;
    font-family: "Red Hat Display", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  #text {
    color: #717fa6;
    text-align: center;
    font-family: "Red Hat Display";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    width: 334px;
  }

  .annual_plan {
    width: 279px;
    height: 81px;
    padding: 16px;
  }

  .music {
    margin-right: 35px;
  }
  #plan {
    color: #1f2e55;
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  #price {
    color: #717fa6;
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  #change {
    color: #382ae1;
    font-family: "Red Hat Display";
    font-size: 13px;
  }

  #payment {
    width: 279px;
    font-weight: 900;
  }

  #cancel {
    color: #717FA6;
    font-family: "Red Hat Display";
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 32px;
  }
}
